.big-icon-1, .big-icon-2, .big-icon.3, .big-icon-4, .big-icon-5{
	background: url(sprites.png) no-repeat;
}

.big-icon-1{
	background-position: 0 0;
	width: 120px;
	height: 123px;
}

.big-icon-2{
	background-position: -120px 0;
	width: 120px;
	height: 123px;
}

.big-icon.3{
	background-position: -240px 0;
	width: 120px;
	height: 123px;
}

.big-icon-4{
	background-position: -360px 0;
	width: 120px;
	height: 123px;
}

.big-icon-5{
	background-position: -480px 0;
	width: 120px;
	height: 123px;
}

